:root {
  --color-dark: #1f1f1f;
  --color-light: #e1e1e1;
  --color-ligth-alt: #787878;
  --color-grey: #9d9d9d;
  --border-color-dark: #3d3d3d;
  --input-border-color-dark: #525252;
  --input-background-color-dark: #272727;
  --border-color-light: #afafaf;
  --color-red: #ce0000;

  --star-color-green: #3ec528;
  --star-color-purple: #c624ff;
  --star-color-blue: #19aeed;

  --font-family-base: "Montserrat", sans-serif;

  --container-width: 1140px;
}
